/**
* ! Reglas de estilo GLOBALES
**/
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem  = 1px */
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
.container {
  display: flex;
}
/**
* ! Reglas de estilo para la SECCIÓN IMÁGENES 
**/
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2796e;
  width: 55%;
  min-height: 100vh;
  padding: 1rem 2rem;
}
.image {
  background-image: url("./images/illustration.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 65%;
}
.text {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}

/**
* ! Reglas de estilo para la SECCIÓN FORMULARIO
**/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  /* max-width: 40rem; */
  box-shadow: 2px 2px 4px rgb(0 0 0 / 0.1);
  padding: 5rem;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
form div input {
  width: 100%;
  height: 4rem;
  border-radius: 0.8rem;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0 3rem;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 0.1);
}
form div {
  position: relative;
  margin-bottom: 1.5rem;
}
input:focus {
  border: 2px solid #f2796e;
}

/**
* ! reglas de estilo para SOCIALS
**/
.btn {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.btn1,
.btn2 {
  padding: 1rem 0.5rem;
  width: 100%;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  border: 2px solid #c4c4c4;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 0.1);
  cursor: pointer;
}
.btn2 {
  background-color: #4f70b5;
  color: #fff;
}
.or {
  text-align: center;
  font-size: 2.4rem;
}
.question {
  font-size: 1.5rem;
}
span {
  color: #f2796e;
  cursor: pointer;
}

/**
* ! reglas de estilo para los ICONOS FORMULARIO
**/

form div i {
  position: absolute;
  padding: 1rem;
}
.failure-icon,
.error {
  color: red;
}
.success-icon {
  color: green;
}
.error {
  font-size: 1.45rem;
  margin-top: 0.5rem;
}
.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}

/**
* ! reglas de estilo para el BOTÓN
**/

button {
  margin-top: 1.5rem;
  width: 100%;
  height: 4.5rem;
  background-color: #f2796e;
  border: 2px solid #f2796e;
  border-radius: 8px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 0.1);
  transition: opacity 0.1s ease;
}
button:hover {
  opacity: 0.8;
}

/**
* ! MEDIA QUERIES 
**/
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  form,
  .content {
    width: 100%;
  }
  .btn {
    flex-direction: column;
  }
  .image {
    height: 70vh;
  }
}
@media (max-width: 425px) {
  form {
    padding: 2rem;
  }
}
